[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
autopep8 = "*"
flake8 = "*"
pytest = "*"
pytest-benchmark = "*"

[requires]
python_version = "3.9"

[scripts]
test = "pytest"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
